{
    "arrowParens": "always",
    "bracketSpacing": false,
    "insertPragma": false,
    "jsxBracketSameLine": false,
    "plugins": ["prettier-plugin-tailwindcss"],
    "printWidth": 120,
    "proseWrap": "always",
    "requirePragma": false,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false
}
